:root {
  --primary-color: #00a3ea;
  --secondary-color: #19323c;
  --secondary-transparent-color: rgba(25, 50, 60, 0.822);
  --accent-color: #f2545b;
  --accent-transparent-color: hwb(357 78% 0% / 0.74);
  --white-color: #ffffff;
  --white-low: rgba(255, 255, 255, 0.226);
  --offwhite-color: #cecece;

  --h1-fz: 8rem;
  --h2-fz: 4.8rem;
  --h3-fz: 3.2rem;
  --h4-fz: 2rem;
  --body-copy: 1.6rem;
  --link-fz: 1.6rem;
  --subtext-fz: 1.4rem;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  color: var(--white-color);
  font-size: var(--h1-fz);
  font-weight: 700;
  line-height: 1;

  span {
    color: var(--offwhite-color);
  }
}

h2 {
  font-size: var(--h2-fz);
  font-weight: 700;
  line-height: 1.2;
}

h3 {
  font-size: var(--h3-fz);
  font-weight: 500;
  line-height: 1.3;
}

h4 {
  font-size: var(--h4-fz);
  font-weight: 500;
  line-height: 1.3;
  font-family: "PP Mori";
}

@font-face {
  font-family: "Poppins";
  src: url("/assets/fonts/poppins-bold-webfont.woff2") format("woff2"),
    url("/assets/fonts/poppins-bold-webfont.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("/assets/fonts/poppins-medium-webfont.woff2") format("woff2"),
    url("/assets/fonts/poppins-medium-webfont.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("/assets/fonts/poppins-regular-webfont.woff2") format("woff2"),
    url("/assets/fonts/poppins-regular-webfont.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-snap-type: mandatory;
}

body {
  font-family: Poppins, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: var(--body-copy);
  line-height: 1.6;
  background-color: var(--secondary-color);
  overflow-x: hidden;
  color: var(--offwhite-color);
}

img {
  max-width: 100%;
  display: inline-block;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  display: inline-block;
  color: var(--offwhite-color);
  font-size: var(--link-fz);
  font-weight: 500;
  /* letter-spacing: 1px; */
}

section {
  border-bottom: 1px solid var(--white-low);
}

.cta__btn {
  font-family: "PP Mori";
  font-weight: 600;
  position: relative;
  height: calc(4.8rem + 0.8rem);
  padding-inline: 2.4rem 7.2rem;
  padding-block: 0.4rem;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 100vw;
  background-color: var(--accent-color);
  color: var(--secondary-color);
}

.cta__btn-text {
  display: inline-block;
  z-index: 2;
}

.cta__btn-svg-bg {
  position: absolute;
  width: 4.8rem;
  height: 4.8rem;
  display: inline-flex;
  right: 0.4rem;
  align-items: center;
  justify-content: flex-end;
  border-radius: 100vw;
  background-color: var(--accent-transparent-color);
  transition: width 250ms ease;
}

.cta__btn-svg {
  display: inline-flex;
  margin-inline-end: 1.4rem;
  align-items: center;
  justify-content: center;
}

.cta__btn-text {
  display: inline-block;
  z-index: 2;
}

.cta__btn:hover .cta__btn-svg-bg {
  width: calc(100% - 0.8rem);
}

/* Header */

header {
  position: fixed;
  top: 0;
  left: 0;
  height: 8rem;
  width: 100%;
  background-color: var(--secondary-color);
  border-bottom: 1px solid var(--white-low);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  backdrop-filter: blur(10px);
  -ms-backdrop-filter: blur(10px);
  transition: background-color 300ms ease;
}

.scroll {
  background-color: var(--secondary-transparent-color);
}

.container {
  width: 88%;
  margin: 0 auto;
}

.header__nav,
.nav__list,
.nav__links {
  display: flex;
  align-items: center;
}

.header__nav {
  justify-content: space-between;
}

.logo {
  font-size: var(--h4-fz);
  color: var(--offwhite-color);
  font-weight: 500;
}

.nav__list,
.nav__links {
  gap: 2.4rem;
}

.link__active {
  color: var(--accent-color);
}

/* Hero */

.main-wrapper {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

.divider {
  width: 88%;
  border-inline: 1px solid var(--white-low);
  margin: 0 auto;
}

.hero {
  margin-top: 8rem;
  width: 100%;
  min-height: 58rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--offwhite-color);
  /* background-image: url(/assets/bullseye-gradient.svg); */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-clip: border-box;

  h4 {
    color: var(--accent-color);
  }
}

.hero__container {
  width: 88%;
}

.slider {
  display: relative;
  left: 0;
  max-width: 100vw;
  margin-block: 1.6rem;
}

.body-copy {
  max-width: 56ch;
  margin-block-end: 2.4rem;
}
