:root {
  --secondary-color: #0c0c0c;
  /* --secondary-color: #000703; */
  --secondary-transparent-color: rgba(0, 7, 3, 0.5);
  --accent-color: #00fc69;
  /* --accent-color: #00a3ea; */
  --accent-transparent-color: rgba(0, 252, 105, 0.219);
  --white-color: #ffffff;
  --white-low: rgba(255, 255, 255, 0.226);
  --white-transparent: rgba(255, 255, 255, 0.126);
  --offwhite-color: #cecece;

  --h1-fz: 8rem;
  --h2-fz: 4.8rem;
  --h3-fz: 3.2rem;
  --h4-fz: 2rem;
  --body-copy: 1.6rem;
  --link-fz: 1.4rem;
  --subtext-fz: 1.4rem;

  --h1-mobile-fz: 4.8rem;
  --h2-mobile-fz: 3.2rem;
  --h3-mobile-fz: 2.4rem;
  --h4-mobile-fz: 1.6rem;
  --body-mobile-copy: 1.4rem;
  --link-mobile-fz: 1.4rem;
  --subtext-mobile-fz: 1.2rem;

  --transition-duration: 250ms;
  --transition-timing: ease;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "bricolage-grotesque-bold";
  src: url("/assets/fonts/bricolage-grotesque-bold-webfont.woff2")
      format("woff2"),
    url("/assets/fonts/bricolage-grotesque-bold-webfont.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "bricolage-grotesque-medium";
  src: url("/assets/fonts/bricolage-grotesque-medium-webfont.woff2")
      format("woff2"),
    url("/assets/fonts/bricolage-grotesque-medium-webfont.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "ppmori-regular";
  src: url("/assets/fonts/ppmori-regular-webfont.woff2") format("woff2"),
    url("/assets/fonts/ppmori-regular-webfont.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "ppmori-semibold";
  src: url("/assets/fonts/ppmori-semibold-webfont.woff2") format("woff2"),
    url("/assets/fonts/ppmori-semibold-webfont.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-snap-type: mandatory;
}

body {
  font-family: ppmori-regular, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  font-size: var(--body-copy);
  line-height: 1.7;
  background-color: var(--secondary-color);
  overflow-x: hidden;
  color: var(--offwhite-color);
}

h1,
h2,
h3,
h4 {
  text-wrap: balance;
  font-family: bricolage-grotesque-bold;
}

.body-copy {
  max-width: 56ch;
  margin-block-end: 2.4rem;
  font-family: ppmori-regular;
}

h1 {
  color: var(--white-color);
  font-size: var(--h1-mobile-fz);
  font-weight: 700;
  line-height: 1;

  span {
    color: var(--offwhite-color);
  }
}

h2 {
  font-size: var(--h2-mobile-fz);
  font-weight: 700;
  line-height: 1.2;
}

h3 {
  font-size: var(--h3-mobile-fz);
  font-weight: 500;
  line-height: 1.3;
}

h4 {
  font-size: var(--h4-mobile-fz);
  font-weight: 500;
  line-height: 1.3;
}

img {
  max-width: 100%;
  display: inline-block;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  display: inline-flex;
  color: var(--offwhite-color);
  font-family: bricolage-grotesque-medium;
  font-size: var(--link-fz);
  font-weight: 500;
}

svg {
  fill: var(--white-color);
}

section + section {
  border-top: 1px solid var(--white-low);
}

.cta__btn {
  position: relative;
  height: 4.8rem;
  width: 100%;
  padding-inline: 3.2rem;
  padding-block: 0.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
  border-radius: 100vw;
  background-color: var(--accent-color);
  color: var(--secondary-color);
  font-family: bricolage-grotesque-medium;
  line-height: 1;
  transition: box-shadow var(--transition-duration) var(--transition-timing);

  svg {
    fill: var(--secondary-color);
    opacity: 1;
    transform: translateX(0);
    transition: opacity var(--transition-duration) var(--transition-timing),
      transform var(--transition-duration) var(--transition-timing);
  }
}

.cta {
  padding-inline: 6.4rem;
  box-shadow: 4px 4px 0 var(--accent-transparent-color);
}

.cta:hover {
  box-shadow: none;
}

.cta:hover svg {
  opacity: 0;
  transform: translateX(20px);
}

.cta__btn-text {
  display: inline-block;
  z-index: 2;
}

.sub-title {
  color: var(--offwhite-color);
  padding: 0.8rem 1.6rem 0.8rem 2.4rem;
  border: 1px solid var(--white-low);
  width: fit-content;
  border-radius: 100vw;
  background-color: var(--white-transparent);
  font-size: 1.4rem;
  font-weight: 600;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 45%;
    left: 1.2rem;
    transform: translateY(-50%);
    width: 0.4rem;
    height: 0.4rem;
    background-color: var(--accent-color);
    border-radius: 100vw;
  }

  &::after {
    content: "";
    position: absolute;
    top: 45%;
    left: 100%;
    height: 0.1rem;
    width: clamp(6rem, 24vw, 24rem);
    background-color: var(--white-low);
  }
}

@media (width >= 768px) {
  .body-copy {
    max-width: 56ch;
    margin-block-end: 2.4rem;
  }

  h1 {
    font-size: var(--h1-fz);
  }

  h2 {
    font-size: var(--h2-fz);
  }

  h3 {
    font-size: var(--h3-fz);
  }

  h4 {
    font-size: var(--h4-fz);
  }

  .cta__btn {
    width: auto;
  }
}

/* Header */

header {
  position: fixed;
  top: 0;
  left: 0;
  height: 8rem;
  width: 100%;
  background-color: var(--secondary-color);
  border-bottom: 1px solid var(--white-low);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  backdrop-filter: blur(10px);
  -ms-backdrop-filter: blur(10px);
  transition: background-color 300ms ease;
}

.header__container {
  width: 100%;
  padding-inline: 1.6rem;
  margin: 0 auto;
}

.scroll {
  background-color: var(--secondary-transparent-color);
}

.header__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
}

.nav__links {
  position: absolute;
  top: 0;
  right: -100%;
  min-height: 100dvh;
  width: 80%;
  background-color: var(--secondary-color);
  z-index: 12;
  display: flex;
  align-items: center;
  transition: right var(--transition-duration) var(--transition-timing);
}

.nav__links.active {
  right: 0%;
}

.nav__list,
.nav__item {
  width: 100%;
}

.nav__link {
  font-size: 3.2rem;
  width: 100%;
  padding: 1.2rem 2.4rem;
}

.nav__link.active {
  color: var(--accent-color);
}

.nav__item + .nav__item:has(.nav__link) {
  border-top: 1px solid var(--white-low);
}

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
  background-color: var(--white-color) !important;
}

.hamburger {
  border: none;
  outline: none;
  appearance: none;
  background-color: transparent;
  cursor: pointer;
  height: fit-content;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 100;
}

.hamburger-box {
  display: flex;
  align-items: center;
  width: 3.2rem;
  height: 3.2rem;
  position: relative;
}

.hamburger-inner {
  position: absolute;
  top: 6px;
  display: inline-block;
  width: 80%;
  height: 2px;
  background-color: var(--white-color);
  transform: rotate(0);
  transition: top var(--transition-duration) var(--transition-timing),
    transform var(--transition-duration) var(--transition-timing);
}

.hamburger-inner::before,
.hamburger-inner::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: inherit;
  color: inherit;
  left: 0;
}

.hamburger-inner::before {
  opacity: 1;
  top: 0.8rem;
  opacity: 1;
  transition: opacity var(--transition-duration) var(--transition-timing);
}

.hamburger-inner::after {
  opacity: 1;
  bottom: -1.6rem;
  transform: rotate(0);
  transition: bottom var(--transition-duration) var(--transition-timing),
    transform var(--transition-duration) var(--transition-timing);
}

.hamburger.is-active .hamburger-inner::before {
  transition: opacity var(--transition-duration) var(--transition-timing);
  opacity: 0;
}

.hamburger.is-active .hamburger-inner {
  top: 1.4rem;
  transition: top var(--transition-duration) var(--transition-timing),
    transform var(--transition-duration) var(--transition-timing) 0.12s;
  transform: rotate(-45deg);
}

.hamburger.is-active .hamburger-inner::after {
  bottom: 0;
  transition: bottom var(--transition-duration) var(--transition-timing),
    transform var(--transition-duration) var(--transition-timing) 0.12s;
  transform: rotate(90deg);
}

@media (width >= 425px) {
  .header__container {
    width: 88%;
    max-width: 1440px;
  }
}

/* SUb Link */

.nav__sub-link {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.nav__links-desktop {
  display: none;
}

.nav__btn {
  background-color: var(--accent-transparent-color);
  border: 1px solid var(--accent-color);
  color: var(--accent-color);
  height: 4rem;
  transition: background-color var(--transition-duration)
    var(--transition-timing);
}

.nav__btn:hover {
  --hover: rgba(0, 252, 105, 0.329);
  background-color: var(--hover);
}

.logo {
  font-size: var(--h4-fz);
  color: var(--offwhite-color);
  font-weight: 500;
}

@media (width >= 768px) {
  .nav__links,
  .nav__sub-link {
    display: none;
  }

  .nav__links-desktop,
  .nav__list-desktop {
    display: flex;
    align-items: center;
    gap: 2.4rem;
  }
}

/* Main */
.main-wrapper {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  margin-block-start: 8rem;
}

.divider {
  width: 100%;
  border: none;
  margin: 0 auto;
}

.container {
  width: 100%;
  padding-inline: 1.6rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media (width >= 425px) {
  .divider {
    width: 88%;
    border-inline: 1px solid var(--white-low);
  }

  .container {
    width: 88%;
    padding-inline: 0;
  }
}

/* Hero */
section {
  width: 100%;
  color: var(--offwhite-color);
}

.hero {
  position: relative;
  min-height: 64rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero-links {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.social-list,
.social-link {
  display: flex;
  align-items: center;
}

.social-list {
  gap: 1.6rem;
}

.social-link {
  color: var(--offwhite-color);
  gap: 0.4rem;
  transition: color var(--transition-duration) var(--transition-timing);

  svg {
    fill: var(--offwhite-color);
  }
}

.social-link svg {
  transition: fill var(--transition-duration) var(--transition-timing);
}

.social-link:hover {
  color: var(--accent-color);
}

.social-link:hover svg {
  fill: var(--accent-color);
}

.circle {
  position: absolute;
  top: 25%;
  right: 10%;
  width: 4rem;
  height: 4rem;
  background: linear-gradient(var(--accent-color), var(--secondary-color));
  border-radius: 100%;
  animation: bounce 2500ms infinite forwards;
  opacity: 1;
  z-index: -1;
}

@keyframes bounce {
  50% {
    top: 45%;
    opacity: 0.2;
  }
}

h1 {
  margin-block: 2.4rem;
}

@media (width >= 768px) {
  .hero {
    min-height: 58rem;
  }

  .hero-links {
    flex-direction: row;
    width: fit-content;
    align-items: end;
    gap: 16rem;
  }

  .circle {
    width: 8rem;
    height: 8rem;
    top: 35%;
  }

  @keyframes bounce {
    50% {
      top: 55%;
      opacity: 0.2;
    }
  }
}

/* About */
.about {
  padding-block: 12rem;
}

.about__content-bg {
  width: 100%;
}

.about__content {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  gap: 4rem;
}

.about__container .sub-title {
  margin-block-end: 2.4rem;
  align-self: flex-start;
}

.about__copy span {
  color: var(--white-color);
  font-size: 2rem;
  font-weight: 600;
}

.stack-list {
  max-width: 40rem;
  display: flex;
  align-items: flex-start;
  font-size: 1.2rem;
  color: var(--accent-color);
  gap: 1.2rem;
  flex-wrap: wrap;
}

.stack-item {
  flex-basis: 30%;
}

.about__img-bg {
  max-height: 48rem;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
}

.about__img-bg::after {
  position: absolute;
  content: "";
  inset: 0;
  background-color: var(--accent-transparent-color);
}

.about__img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

@media (width >= 768px) {
  .about {
    padding-block: 8rem;
  }

  .about__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: start;
    gap: 4rem;
  }

  .about__content-bg {
    width: 96%;
  }

  .about__container .sub-title {
    margin-block-end: 4.8rem;
  }
}
