:root {
  --green: 145, 100%, 32%;
  --yellow: 180, 100%, 32%;
  --bg: 0, 0%, 96%;
  --white: 0, 0%, 10%;

  --primary-color: hsla(var(--green), 1);
  --accent-color: hsla(var(--yellow), 1);
  --bg-color: hsla(var(--bg), 1);
  --text-color: hsl(0, 0%, 28%);
  --white-color: hsla(var(--white), 1);

  /* Transparent */
  --primary-transparent-2: hsla(var(--green), 0.2);
  --primary-transparent-3: hsla(var(--green), 0.3);
  --accent-transparent: hsla(var(--yellow), 0.2);
  --accent-transparent-6: hsla(var(--yellow), 0.6);
  --bg-transparent-5: hsla(var(--bg), 0.5);
  --white-transparent: hsla(var(--white), 0.1);
  --white-transparent-24: hsla(var(--white), 0.24);

  --Switzer-medium: Switzer-medium, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  --Switzer-regular: Switzer-regular, system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
    "Open Sans", "Helvetica Neue", sans-serif;
  --Switzer-bold: Switzer-bold, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;

  --h1-fz: 8rem;
  --h2-fz: 4.8rem;
  --h3-fz: 3.2rem;
  --h4-fz: 2rem;
  --body-copy: 1.6rem;
  --link-fz: 1.4rem;
  --subtext-fz: 1.4rem;

  --h1-mobile-fz: 4.8rem;
  --h2-mobile-fz: 3.2rem;
  --h3-mobile-fz: 2.4rem;
  --h4-mobile-fz: 1.6rem;
  --body-mobile-copy: 1.4rem;
  --link-mobile-fz: 1.4rem;
  --subtext-mobile-fz: 1.2rem;

  --transition-duration: 250ms;
  --transition-timing: ease;
}

.dark-mode {
  --green: 145, 100%, 32%;
  --yellow: 180, 100%, 32%;
  --bg: 0, 0%, 5%;
  --white: 0, 0%, 100%;

  --primary-color: hsla(var(--green), 1);
  --accent-color: hsla(var(--yellow), 1);
  --bg-color: hsla(var(--bg), 1);
  --text-color: hsl(0, 0%, 76%);
  --white-color: hsla(var(--white), 1);

  /* Transparent */
  --primary-transparent-2: hsla(var(--green), 0.2);
  --primary-transparent-3: hsla(var(--green), 0.3);
  --accent-transparent: hsla(var(--yellow), 0.2);
  --accent-transparent-6: hsla(var(--yellow), 0.6);
  --bg-transparent-5: hsla(var(--bg), 0.5);
  --white-transparent: hsla(var(--white), 0.14);
  --white-transparent-24: hsla(var(--white), 0.24);
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Switzer-bold";
  src: url("/assets/fonts/Switzer-Bold.woff2") format("woff2"),
    url("/assets/fonts/Switzer-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Switzer-medium";
  src: url("/assets/fonts/Switzer-Medium.woff2") format("woff2"),
    url("/assets/fonts/Switzer-Medium.woff2") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Switzer-regular";
  src: url("/assets/fonts/Switzer-Regular.woff2") format("woff2"),
    url("/assets/fonts/Switzer-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-snap-type: mandatory;
}

body {
  font-family: var(--Switzer-regular);
  font-size: var(--body-mobile-copy);
  line-height: 1.7;
  background-color: var(--bg-color);
  overflow-x: hidden;
  color: var(--text-color);
  position: relative;
}

h1,
h2,
h3,
h4 {
  text-wrap: balance;
  font-family: var(--Switzer-bold);
}

.body-copy {
  max-width: 56ch;
  margin-block-end: 2.4rem;
  font-family: var(--Switzer-regular);
}

h1 {
  color: var(--white-color);
  font-size: var(--h1-mobile-fz);
  font-weight: 700;
  line-height: 1;

  span {
    color: var(--text-color);
  }
}

h2 {
  font-size: var(--h2-mobile-fz);
  font-weight: 700;
  line-height: 1.2;
  margin-block-end: 1.6rem;
}

h3 {
  font-size: var(--h3-mobile-fz);
  font-weight: 500;
  line-height: 1.3;
}

h4 {
  font-size: var(--h4-mobile-fz);
  font-weight: 500;
  line-height: 1.3;
}

img,
svg {
  max-width: 100%;
  display: inline-block;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  display: inline-flex;
  color: var(--text-color);
  font-family: var(--Switzer-medium);
  font-size: var(--link-fz);
  font-weight: 500;
}

svg {
  fill: var(--white-color);
}

section {
  padding-block: 10rem;
}

section + section {
  border-top: 1px solid var(--primary-transparent-3);
  border-top-style: dashed;
}

.cta__btn {
  position: relative;
  height: 4.8rem;
  width: 100%;
  padding-inline: 3.2rem;
  padding-block: 0.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
  border-radius: 100vw;
  background: linear-gradient(90deg, var(--primary-color), var(--accent-color));
  color: var(--bg-color);
  line-height: 1;
  transition: opacity var(--transition-duration) var(--transition-timing);

  svg {
    fill: var(--bg-color);
    opacity: 1;
    transform: translateX(0);
    transition: opacity var(--transition-duration) var(--transition-timing),
      transform var(--transition-duration) var(--transition-timing);
  }
}

.cta::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    90deg,
    var(--primary-transparent-2),
    var(--accent-transparent)
  );
  border-radius: 100vw;
  left: 4px;
  top: 4px;
  opacity: 1;
}

.cta:hover::after {
  opacity: 0;
}

.cta:hover svg {
  opacity: 0;
  transform: translateX(20px);
}

.cta__btn-text {
  display: inline-block;
  z-index: 2;
}

.sub-title {
  color: var(--text-color);
  padding: 0.8rem 1.6rem 0.8rem 2.4rem;
  border: 1px solid var(--white-transparent-24);
  width: fit-content;
  border-radius: 100vw;
  background-color: var(--white-transparent);
  font-size: 1.4rem;
  font-weight: 600;
  position: relative;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 1.2rem;
    transform: translateY(-50%);
    width: 0.4rem;
    height: 0.4rem;
    background-color: var(--accent-color);
    border-radius: 100vw;
  }

  &::after {
    content: "";
    position: absolute;
    top: 45%;
    left: 100%;
    height: 0.1rem;
    width: clamp(6rem, 24vw, 24rem);
    background-color: var(--white-transparent-24);
  }
}

.light-dark-mode {
  background: none;
  border: none;
  outline: none;
  height: 4.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  svg {
    fill: var(--primary-color);
    display: none;
    width: 2.4rem;
    height: 2.4rem;
  }

  .active-theme {
    display: block;
  }
}

@media (width >= 768px) {
  .body-copy {
    max-width: 56ch;
    margin-block-end: 1.6rem;
    font-size: var(--body-copy);
  }

  h1 {
    font-size: var(--h1-fz);
  }

  h2 {
    font-size: var(--h2-fz);
  }

  h3 {
    font-size: var(--h3-fz);
  }

  h4 {
    font-size: var(--h4-fz);
  }

  .cta__btn {
    width: auto;
  }

  .theme-toggle {
    order: 2;
  }
}

.diamond {
  position: absolute;
  width: 0.8rem;
  height: 0.8rem;
  background-color: var(--bg-color);
  border: 1px solid var(--primary-color);
  transform: rotate(45deg);
  z-index: 100;
  bottom: -0.4rem;
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
}

.diamond-left {
  left: -0.4rem;
}

.diamond-right {
  right: -0.4rem;
}

.flex-item {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

/* Header */

header {
  position: relative;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  height: 8rem;
  width: 100%;
  background-color: var(--bg-transparent-5);
  border-bottom: 1px solid var(--primary-transparent-3);
  border-bottom-style: dashed;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
  backdrop-filter: blur(24px);
  -ms-backdrop-filter: blur(24px);
  transition: background-color 300ms ease;
  padding-inline: 1rem;
}

.header__container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-inline: 1px solid var(--primary-transparent-3);
  border-inline-style: dashed;
  width: 100%;
  padding-inline: 1.6rem;
  margin: 0 auto;
  position: relative;
}

.scroll {
  background-color: var(--bg-transparent-color);
}

.header__nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
  width: 3.2rem;
}

.logo-image-1 {
  display: none;
}

.logo-image-2 {
  display: none;
}

.active-logo {
  display: block;
}

.nav__links {
  position: fixed;
  top: 100%;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: var(--bg-transparent-5);
  z-index: 1000;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  backdrop-filter: blur(4px);
  transition: top var(--transition-duration) var(--transition-timing);

  .hamburger {
    transform: translate(90%, 30px);
  }
}

.nav__list {
  height: 80%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--bg-color);
  justify-self: flex-end;
}

.nav__item {
  width: 100%;
}

.nav__link {
  font-size: 2.4rem;
  width: 100%;
  padding: 1.2rem 2.4rem;
}

.nav__link-desktop:hover,
.active-link {
  color: var(--primary-color);
}

.nav__item + .nav__item:has(.nav__link) {
  border-top: 1px solid var(--white-transparent);
}

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
  background-color: var(--white-color) !important;
}

.hamburger {
  border: none;
  outline: none;
  appearance: none;
  background-color: transparent;
  cursor: pointer;
  height: fit-content;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 1010000;
}

.hamburger-box {
  display: flex;
  align-items: center;
  width: 2.4rem;
  height: 2.4rem;
  position: relative;
}

.hamburger-inner {
  position: absolute;
  top: 4px;
  display: inline-block;
  width: 80%;
  height: 2px;
  background-color: var(--white-color);
  transform: rotate(0);
  transition: top var(--transition-duration) var(--transition-timing),
    transform var(--transition-duration) var(--transition-timing);
}

.hamburger-inner::before,
.hamburger-inner::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: inherit;
  color: inherit;
  left: 0;
}

.hamburger-inner::before {
  opacity: 1;
  top: 0.8rem;
  opacity: 1;
  transition: opacity var(--transition-duration) var(--transition-timing);
}

.hamburger-inner::after {
  opacity: 1;
  bottom: -1.6rem;
  transform: rotate(0);
  transition: bottom var(--transition-duration) var(--transition-timing),
    transform var(--transition-duration) var(--transition-timing);
}

.hamburger[aria-expanded="true"] + .nav__links {
  top: 0;
}

header:has(.hamburger[aria-expanded="true"]) + .nav__links {
  top: 0;
}

.hamburger[aria-expanded="true"] .hamburger-inner::before {
  transition: opacity var(--transition-duration) var(--transition-timing);
  opacity: 0;
}

.hamburger[aria-expanded="true"] .hamburger-inner {
  top: 1.4rem;
  transition: top var(--transition-duration) var(--transition-timing),
    transform var(--transition-duration) var(--transition-timing) 0.12s;
  transform: rotate(-45deg);
}

.hamburger[aria-expanded="true"] .hamburger-inner::after {
  bottom: 0;
  transition: bottom var(--transition-duration) var(--transition-timing),
    transform var(--transition-duration) var(--transition-timing) 0.12s;
  transform: rotate(90deg);
}

/* SUb Link */

.nav__sub-link {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.nav__links-desktop {
  display: none;
}

.nav__btn {
  background: var(--primary-transparent-2);
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  height: 4rem;
  transition: background-color var(--transition-duration)
    var(--transition-timing);
}

.nav__btn:hover {
  --hover: rgba(0, 252, 105, 0.329);
  background-color: var(--hover);
}

.nav__btn.resume {
  padding-inline: 2rem;
  height: 3.6rem;
}

@media (width >= 768px) {
  .logo {
    width: auto;
  }

  .header {
    padding-inline: 0;
  }

  .header__container {
    width: 88%;
    max-width: 1440px;
  }

  .nav__links,
  .nav__sub-link {
    display: none;
  }

  .nav__links-desktop,
  .nav__list-desktop {
    display: flex;
    align-items: center;
    gap: 2.4rem;
  }
}

/* Main */
.main-wrapper {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  margin-block-start: 8rem;
  padding-inline: 1rem;
}

.divider {
  width: 100%;
  border-inline: 1px solid var(--primary-transparent-3);
  border-inline-style: dashed;
  margin: 0 auto;
  position: relative;
}

.container {
  width: 100%;
  padding-inline: 1.6rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

@media (width >=768px) {
  .main-wrapper {
    padding-inline: 0;
  }

  .divider {
    width: 88%;
  }

  .container {
    width: 88%;
    padding-inline: 0;
  }
}

/* Hero */
section {
  width: 100%;
  color: var(--text-color);
}

.hero {
  position: relative;
  min-height: 64rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-block: 6rem;
}

.hero-links {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  margin-block-start: 4rem;
}

.social-list,
.social-link {
  display: flex;
  align-items: center;
}

.social-list {
  gap: 1.6rem;
}

.social-link {
  color: var(--text-color);
  gap: 0.4rem;
  transition: color var(--transition-duration) var(--transition-timing);

  svg {
    fill: var(--text-color);
  }
}

.social-link svg {
  transition: fill var(--transition-duration) var(--transition-timing);
}

.social-link:hover,
.social-link:active {
  color: var(--accent-color);
}

.social-link:hover svg,
.social-link:active svg {
  fill: var(--accent-color);
}

.circle {
  position: absolute;
  top: 25%;
  right: 10%;
  width: 4rem;
  height: 4rem;
  background: linear-gradient(var(--accent-color), var(--primary-color));
  border-radius: 100%;
  animation: bounce 2500ms infinite forwards;
  opacity: 1;
  z-index: -1;
}

.grid-box {
  position: absolute;
  pointer-events: none;
  z-index: -1;
  inset: 0;
  width: 100%;
  height: 100%;
  stroke: var(--accent-transparent);
  -webkit-mask-image: linear-gradient(180deg, #ffffffad, transparent);
  mask-image: linear-gradient(180deg, #ffffffad, transparent);
  opacity: 0.56;
}

@keyframes bounce {
  50% {
    top: 45%;
    opacity: 0.2;
  }
}

h1 {
  margin-block: 2.4rem;
}

@media (width >= 768px) {
  .hero {
    min-height: 58rem;
    padding-block: 0;
  }

  .hero-links {
    flex-direction: row;
    width: fit-content;
    align-items: end;
    gap: 16rem;
  }

  .circle {
    width: 8rem;
    height: 8rem;
    top: 35%;
  }

  @keyframes bounce {
    50% {
      top: 55%;
      opacity: 0.2;
    }
  }
}

/* About */

#about {
  position: relative;
}

.about__content-bg {
  width: 100%;
}

.about__content {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  gap: 4rem;
}

.section-subtitle {
  margin-block-end: 4rem;
  align-self: flex-start;
}

.about__copy span {
  color: var(--white-color);
  font-size: inherit;
  font-weight: 600;
}

.stack-list {
  max-width: 40rem;
  display: flex;
  align-items: flex-start;
  font-size: 1.2rem;
  color: var(--accent-color);
  gap: 1.2rem;
  flex-wrap: wrap;
}

.stack-item {
  flex-basis: 30%;
}

.about__img-bg {
  max-height: 48rem;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
}

.about__img-bg::after {
  position: absolute;
  content: "";
  inset: 0;
  background-color: var(--primary-transparent-2);
}

.about__img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

@media (width >= 768px) {
  .about {
    padding-block: 8rem;
  }

  .about__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: start;
    gap: 4rem;
  }

  .about__content-bg {
    width: 96%;
  }

  .about__container .sub-title {
    margin-block-end: 4.8rem;
  }
}

/* Projects */
#projects {
  position: relative;
}

.projects__content {
  width: 100%;
  padding-block-start: 1.2rem;
}

.project__list {
  position: relative;
  display: grid;
  gap: 4rem;
}

.project__item {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 24rem auto;
  grid-auto-flow: dense;
  border-radius: 10px;
  overflow: hidden;
}

.project {
  border-radius: 10px;
  overflow: hidden;
  display: grid;
  grid-template-rows: subgrid;
  grid-row: span 2;
  border: 2px solid var(--white-transparent);
  transform: translateY(0);
  transition: transform var(--transition-duration) var(--transition-timing);
}

.project__image {
  position: relative;
  width: 100%;
  height: 100%;

  img {
    filter: grayscale(100%) contrast(1) brightness(90%);
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: filter var(--transition-duration) var(--transition-timing);
  }

  &::after {
    position: absolute;
    content: "";
    inset: 0;
    background: var(--primary-transparent-2);
    transition: background var(--transition-duration) var(--transition-timing);
  }
}

.project__content {
  background-color: var(--bg-color);
  padding: 1.2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.project__desc {
  margin-block: 0.6rem 1.6rem;
}

.project__links {
  margin-block-start: 2.4rem;
  display: flex;
  align-items: center;
  gap: 2.4rem;
}

.project__technologies {
  /* text-transform: uppercase; */
  display: flex;
  gap: 0.4rem;
  font-weight: 600;

  span {
    font-size: 1rem;
    padding: 0.2rem 0.8rem;
    background-color: var(--white-transparent);
    border: 1px solid var(--white-low);
    border-radius: 100vw;
    color: var(--accent-transparent-6);
  }
}

.project__link {
  position: static;
  z-index: 1;
  transition: color var(--transition-duration) var(--transition-timing);
}

.project__item:hover .project {
  transform: translateY(-8px);
}

.project__item:hover .project__link {
  color: var(--accent-color);
}

.project__item:hover .project__image::after {
  background: none;
}

.project__item:hover .project__image img {
  filter: grayscale(0) contrast(1) brightness(100%);
}

@media (width >= 768px) {
  .project__list {
    grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr));
  }

  .project__technologies {
    font-size: 1.2rem;
  }
}

/* Skills */
#skills {
  position: relative;
}

.skills__content {
  width: 100%;
}

.skills__list {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 2.4rem;
  margin-block-start: 2.4rem;
}

.skill__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.4rem;
  padding-block: 2em;
  border: 1px solid var(--white-transparent);
  border-radius: 10px;

  svg {
    width: 8rem;
    fill: var(--primary-color);

    .st1 {
      fill: var(--bg-color);
    }
  }

  span {
    font-size: 1.4rem;
    font-family: var(--Switzer-bold);
  }
}

@media (width >= 768px) {
  .skills__list > * {
    flex-basis: calc(100% / 3);
  }

  .skills__list {
    gap: 4rem;
  }

  .skill__item img {
    width: 8rem;
  }
}

/* Contact */
#contact {
  position: relative;
}

/* Top Arrow */
.top {
  position: fixed;
  bottom: 12%;
  right: 8%;
  z-index: 1000;
  opacity: 0;
  scale: 0.1;
  transition: scale var(--transition-duration) var(--transition-timing),
    opacity var(--transition-duration) var(--transition-timing);

  .top-btn {
    background: var(--accent-transparent);
    border: none;
    outline: none;
    width: 4rem;
    height: 4rem;
    display: grid;
    place-items: center;
    cursor: pointer;
    border-radius: 4px;
    pointer-events: none;
  }

  svg {
    fill: var(--white-color);
    width: 2.4rem;
    transform: rotate(270deg);
  }
}

.active-top {
  opacity: 1;
  scale: 1;

  .top-btn {
    pointer-events: visible;
  }
}

/* Footer */

footer {
  border-top: 1px solid var(--primary-transparent-3);
  border-top-style: dashed;
  padding-inline: 1rem;
}

.footer__container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding-block: 2.4rem;
  padding-inline: 1.6rem;
}

.footer__items {
  width: 100%;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--text-color);
}

@media (width >= 768px) {
  footer {
    padding-inline: 0;
  }

  .footer__items {
    font-size: 1.4rem;
  }
}
